# List Comprehension

In [ ]:
# l1= []
# for i in range (10):
# 	l1.append(i)

l1= [i for i in range(10)]
l1

In [ ]:
# l1 = []
# for i in range(0,10,2):
# 	l1.append(i**2)

l1 = [i**2 for i in range(0,10,2)]
l1

In [ ]:
# l1 = []
# for i in range(10):
# 	if i%2==0:
# 		l1.append(i)

l1=[i for i in range(10) if i%2==0]
l1

In [ ]:
# l1 =[]
# for i in l2:
# 	for j in i:
# 		if j>4:
# 			l1.append(j)

l2=[[1,2,3],[4,5,6]]

l1 =[j for i in l2 for j in i if j > 4]

# Tuple Comprehension

In [ ]:
t1= tuple(i for i in range(10))
t1

In [ ]:
l1=[1,2,4,'a','b']

t1=tuple(i for i in l1 if type(i)==str)
t1

# Dictionary Comprehension

In [ ]:
l1=[1,2,1,1,1,2,2,2,3,4,5,5]

d4={i:i**2 for i in l1}
d4

In [ ]:
d4={i:l1.count(i) for i in l1}
d4

In [ ]:
d4 ={i:l1.index(i) for i in l1}
d4

# Lambda Function

In [ ]:
#lambda arguments: expression

#def double(x):
#   return x * 2

double = lambda x: x * 2

print(double(5))

In [ ]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8]

l2 = list(map(lambda x: x * 2 , l1))

print(l2)