# **Conditions**

In [ ]:
val = 5

if val:
     print ("Expected Value")
else:
     print ("Unexpected Value")

In [ ]:
Ticket_to_Mars = 5
if (Ticket_to_Mars == 0):
	print("Sadly No can Go to Mars")
elif (Ticket_to_Mars <= 2):
  if (Ticket_to_Mars == 1):
    print("Only you can got to Mars")
  else:
    print ("You and Your Partnet can go to Mars!")
else:
    print(str(Ticket_to_Mars) + " Members can go to Mars")

# While Loop

In [ ]:
count = 0
while count < 5:
   print (count, " is  less than 5")
   count = count + 1
else:
   print (count, " is not less than 5")

In [ ]:
c = 0
while (c < 10): 
    print(c,end='')
    c += 1

# Range

In [ ]:
a = list(range(10))
a

In [ ]:
a = list(range (1,10))
a

In [ ]:
a = list(range (1,10,2))
a

# For Loop

In [ ]:
numbers = [1, 2, 4]
#for (i=0;i<len(numbers);i++)

for x in numbers:
    print(x)

In [ ]:
x = 5
for c in range(x):  # for (i=0,i<5,i++)
    print(c)

In [ ]:
for c in range (0,10,2):  #for (i=1,i<10,i+2)
	print (c)

In [ ]:
for c in range (10,0,-2):
	print (c)

# Random

In [16]:
import random

In [ ]:
random.randint(0, 5)

In [ ]:
random.random() * 100

In [ ]:
random.choice( ['red', 'black', 'green'] )

In [ ]:
for i in range(3):
    print (random.randrange(0, 101, 5))

In [ ]:
from random import shuffle
x = [1,2,3,4,5,6,7,8,9]
shuffle(x)
x