# **List**

In [ ]:
l = [1,2,3,4,5]

print(len(l))

In [ ]:
print(l[0])        
print(l[1])

In [ ]:
print(l[len(l)-1]) 
print(l[-1])

In [ ]:
l.append(6)       
print(l)          
item = l.pop()    
print(item)       
l.append("string")
print(l)

In [7]:
l2=[88,55,66]

In [ ]:
l.extend([55,74])
l

In [ ]:
l = [10,20,30,40,50,60]

print(l[1:2])     
print(l[1:3])     
print(l[0:])      
print(l[0:-1])    
print(l[:])
print (l[3:5])

In [ ]:
b = [1,5,7,2,4,9,11,12]
b.sort()
print(b)

In [ ]:
b.sort(reverse=True)
print(b)

In [ ]:
a = ["dhoni", "sachin", "warner", "abd"]
a.reverse()
print(a)

['abd', 'warner', 'sachin', 'dhoni']

In [ ]:
a = [66, 55, 44, 22, 11, 55, 22] 
print(a.count(0))

In [ ]:
11 in a

In [4]:
l1=[1,2,5,8,7,4,9,'a','z']

In [ ]:
for i in l1:
     print (l1.index(i), i)

In [ ]:
for i,value in enumerate (l1):
     print (i, value)

In [11]:
l1 = [1,2,3,4,5,6,7,8,9]

In [ ]:
min(l1)

In [ ]:
max(l1)

In [ ]:
l1.insert(2,'q')
l1

In [ ]:
l1.remove(2)
l1

In [ ]:
b='Artificial Intelligence'
c=b.split(' ') 
c

In [28]:
' '.join(c)

'Artificial Intelligence'

# **Tuple**

In [ ]:
t = ("500", "200")

print(type(t))

print(t[1])

In [ ]:
print(len(t)) 
print(max(t))
print(min(t))

In [ ]:
l = [400, 800, 1200]
print (type(l))
l_to_t = tuple(l)
print(type(l_to_t))

# **Dictionary**

In [ ]:
d = { "1" : "Captain America", 
      "2" : "Ironman", 
      "3" : "Thor"
    }

In [ ]:
print(type(d))    
print(d["1"])

In [ ]:
for key in d:
    print(key)  
    print(d[key])

In [ ]:
d["2"] = "Hulk"
for key, value in d.items():
    print(key + " - " + value)

In [ ]:
d["4"] = "Thanos"
d["2"] = "KIT"

print (d.items())
d.pop("4")

del d["2"]

# Set

In [ ]:
s1=set()

l1=[1,1,1,2,2,1,2,3,4,5]

set(l1)